.footer__wrapper{
    background: var(--main-darker-grey);
    width: 100%;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
}
.article__follow__wrapper{
    width: 100%;
}
.article__contact__wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 4rem 3rem;
}
.h2__follow{
    font-family: var(--ff-titles);
    text-align: center;
    text-transform: uppercase;
    background: var(--main-blue);
    width: 500px;
    margin: 0 auto;
    border-top-left-radius: var(--border-one);
    border-top-right-radius: var(--border-one);
    padding: 1rem 0;    
}
.ul__follow{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    align-self: center;
}
.li__follow{
    align-items: center;
    display: flex;
    height: 4rem;
    justify-content:center;
    width: 12.50%;
    border-right: 1px solid #272727;
    border-bottom: 1px solid #272727;
}
.li__follow:nth-child(1):hover, .li__follow:nth-child(1):active, .li__follow:nth-child(1):focus{
    background: linear-gradient(to left, #833ab4, #fd1d1d, #fcb045);
    border: none;
}

.li__follow:nth-child(2):hover, .li__follow:nth-child(2):active, .li__follow:nth-child(2):focus{
    background: #1877F2;
    border: none;
}
.li__follow:nth-child(3):hover, .li__follow:nth-child(3):active, .li__follow:nth-child(3):focus{
    background: linear-gradient(to top, #000000, #434343);
    border: none;
}
.li__follow:nth-child(4):hover, .li__follow:nth-child(4):active, .li__follow:nth-child(4):focus{
    background: #1DA1F2;
    border: none;
}
.li__follow:nth-child(5):hover, .li__follow:nth-child(5):active, .li__follow:nth-child(5):focus{
    background: #7289da;
    border: none;
}
.li__follow:nth-child(6):hover, .li__follow:nth-child(6):active, .li__follow:nth-child(6):focus{
    background: #FF0000;
    border: none;
}
.li__follow:nth-child(7):hover, .li__follow:nth-child(7):active, .li__follow:nth-child(7):focus{
    background: #25d366;
    border: none;
}
.li__follow:nth-child(8):hover, .li__follow:nth-child(8):active, .li__follow:nth-child(8):focus{
    background: #24A1DE;
    border: none;
}
.li__follow a{
    color:var(--main-darker-grey);
}
.li__follow a i{
    display: none;
}
.li__follow:hover i{
    color: white;
    display: block;
    font-size: 1.8rem;
}
.li__follow:active i, .li__follow:focus i{
    color: white;
    display: block;
    font-size: 1.8rem;
}
.b__follow{
    color: white;
    font-size: var(--fs-text);
    font-weight: 700;
}
.li__follow:hover .b__follow{
    display: none;
}
.li__follow:active .b__follow{
    display: none;
}
.li__follow:focus .b__follow{
    display: none;
}
.form__wrapper{
    width: 50%;
}
.main__form{
    background: var(--main-light-grey);
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-bottom-left-radius: var(--border-one);
    border-bottom-right-radius: var(--border-one);
}
.main__form label{
    font-family: var(--ff-titles);
    font-weight: 700;
    display: inline-block;
    margin-bottom: 0.3rem;
}
.main__form input{
    width: 100%;
    padding: 1rem;
    border-radius: var(--border-one);
    border: none;
    margin:0 auto;
}
#div-6-la{
    background: var(--main-blue);
    border: none;
    padding: 1rem 2rem;
    font-family: var(--ff-titles);
    font-weight: bolder;
    border-radius: var(--border-one);
    margin-top: 1rem;
}

#div-6-la:hover{
    background: var(--main-darker-grey);
    color: white;
}
#div-6-la:active, #div-6-la:focus {
    background: var(--main-darker-grey);
    color: white;
}
.logo__wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo__wrapper img{
    width: 450px;
}
.copy{
    background: var(--main-darker-grey);
    color: white;
    text-align: center;
    padding-bottom: 1rem;
    font-size: 0.8rem;
}
#current-year{
    color: white;
}
/*****************************MEDIA QUERIES***************************/

/*************MEDIAQUERIES**************/

@media (max-width: 1483px) { }
@media (max-width: 1280px) { }

@media (max-width: 1150px) {
    .article__contact__wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }
    .form__wrapper{
        width: 100%;
    }
    .logo__wrapper{
        width: 100%;
    }
}

@media (max-width: 950px) {/*2 REM padding*/
    .article__contact__wrapper{
        padding: 4rem 2rem;
    }
    .ul__follow{
        flex-wrap: wrap;
    }
    .li__follow{
        width: 25%;
    }
}

@media (max-width: 768px) { }

@media (max-width: 576px) { /*1 REM padding*/
    .article__contact__wrapper{
        padding: 4rem 1rem;
    }
    .main__form{
        width: 100%;
    }
    .li__follow{
        width: 50%;
    }
    .h2__follow{
        width: 100%;
    }

}

@media (max-width: 480px) { }

@media (max-width: 455px) {
    .logo__wrapper img{
        width: 100%;
    }

}

@media (max-width: 350px) { }

/**************************************/