.section__plans{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 6rem 0;
    padding: 0 3rem;
    width: 100%;
    gap: 2rem;
}
.article__plans{
    background: white;
    border:1px solid var(--main-darker-grey);
    border-radius: var(--border-one);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    padding: 3rem 1rem 1rem 1rem;
    flex: 1 1 0px;
    position: relative;
}
.article__plans__tittle{
    background: var(--main-darker-grey);
    border-radius: 4px;
    color:white;
    padding: 1rem 0;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
    font-family: var(--ff-titles);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%); 
}
.article__plans__ul{
    margin: -1rem 0 2rem 0;
    width: 100%;
}
.article__plans__li{
    margin: 1rem 0;
    width: 100%;
}
.article__plans__span{
    color: var(--main-darker-grey);
    cursor: default;
    font-size: 1.2rem;
    font-weight: 800;
    transition: 0.2s;
}
.article__plans__span:hover{
    color:var(--main-blue);
    margin-left: 1rem;
    text-shadow: 1px 1px 1px black;
}
.article__plans__button{
    align-self: flex-end;
}
.article__plans__link{
    font-size: var(--fs-xs);    
    transition: 0.3s;
}
.article__plans__link i{
    color:var(--main-blue);
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 6px;
    display: block;
    font-size: 4rem;
}
.article__plans__link i:hover{
    color: var(--main-green);
}


/*****************************MEDIA QUERIES***************************/
@media (max-width: 1483px) {}
@media (max-width: 1280px) {}
@media (max-width: 1150px) {}

@media (max-width: 950px) {/*2 REM padding*/
    .section__plans{
        padding: 0 2rem;
    }
    .section__plans{
        display: flex;
        flex-direction: column;
        gap: 4rem;  
    }
    .article__plans{
        max-width: 100%;        
    }
}

@media (max-width: 768px) {}

@media (max-width: 576px) { /*1 REM padding*/
    .section__plans{
        padding: 0 1rem;
    }
}

@media (max-width: 480px) {}
@media (max-width: 455px) {}
@media (max-width: 350px) {}

/**************************************/